[submodule "lib/DFRobotDFPlayerMini"]
	path = lib/DFRobotDFPlayerMini
	url = https://github.com/DFRobot/DFRobotDFPlayerMini.git
[submodule "lib/MPU9250_WE"]
	path = lib/MPU9250_WE
	url = https://github.com/wollewald/MPU9250_WE
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
